.slideshow {
  position: relative;
  width: 800px;
  height: 400px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}
.slide:first-child {
  display: block;
}
